# 어떤 모델을 쓸지 순서를 명시
MODELS=A,B,C  # A,B만 써도 됨

# 공통: 비용(선택)
MODEL_A_INPUT_COST_PER_1K=0.00015
MODEL_A_OUTPUT_COST_PER_1K=0.0006
MODEL_A_CACHED_COST_PER_1K=0.000075
MODEL_B_INPUT_COST_PER_1K=0.0001
MODEL_B_OUTPUT_COST_PER_1K=0.0004
MODEL_B_CACHED_COST_PER_1K=0.00001
MODEL_C_INPUT_COST_PER_1K=0.00015
MODEL_C_OUTPUT_COST_PER_1K=0.0006
MODEL_C_CACHED_COST_PER_1K=0.000075
JUDGE_INPUT_COST_PER_1K=0.00125
JUDGE_OUTPUT_COST_PER_1K=0.01
JUDGE_CACHED_COST_PER_1K=0.000125

# Model A (예: OpenAI GPT-4o-mini)
MODEL_A_VENDOR=openai
MODEL_A_BASE_URL=https://api.openai.com
MODEL_A_API_KEY=sk-proj-
MODEL_A_MODEL=gpt-4o-mini
MODEL_A_SYS_PROMPT=.\model_a_prompt.txt  # ← 파일경로

# Model B: Gemini
MODEL_B_VENDOR=gemini
MODEL_B_BASE_URL=https://generativelanguage.googleapis.com
MODEL_B_API_KEY=AI...
MODEL_B_MODEL=gemini-2.5-flash-lite
MODEL_B_SYS_PROMPT=.\.model_b_prompt.txt

# Model C: Upstage(Solar)
MODEL_C_VENDOR=upstage
MODEL_C_BASE_URL=https://api.upstage.ai/v1
MODEL_C_API_KEY=up-...
MODEL_C_MODEL=solar-pro-2
MODEL_C_SYS_PROMPT=.\.model_c_prompt.txt

# Judge (예: OpenAI GPT-5)
JUDGE_BASE_URL=https://api.openai.com
JUDGE_API_KEY=sk-proj-...
JUDGE_MODEL=gpt-5.1

# Concurrency / Timeout (초)
MAX_CONCURRENCY=4
TIMEOUT=90